<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsoft.orm.dao.FirstMenuMapper">
  <resultMap id="BaseResultMap" type="com.jdsoft.orm.model.FirstMenu">
    <id column="first_id" jdbcType="VARCHAR" property="firstId" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="first_state" jdbcType="INTEGER" property="firstState" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from first_menu
    where first_id = #{firstId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jdsoft.orm.model.FirstMenu">
    insert into first_menu (first_id, first_name, first_state
      )
    values (#{firstId,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{firstState,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jdsoft.orm.model.FirstMenu">
    update first_menu
    set first_name = #{firstName,jdbcType=VARCHAR},
      first_state = #{firstState,jdbcType=INTEGER}
    where first_id = #{firstId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select first_id, first_name, first_state
    from first_menu
    where first_id = #{firstId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select first_id, first_name, first_state
    from first_menu
  </select>
</mapper>