<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsoft.orm.dao.UserGroupAuthMapper">
  <resultMap id="BaseResultMap" type="com.jdsoft.orm.model.UserGroupAuth">
    <id column="user_group_id" jdbcType="VARCHAR" property="userGroupId" />
    <id column="second_id" jdbcType="VARCHAR" property="secondId" />
    <id column="first_id" jdbcType="VARCHAR" property="firstId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from user_group_auth
    where user_group_id = #{userGroupId,jdbcType=VARCHAR}
      and second_id = #{secondId,jdbcType=VARCHAR}
      and first_id = #{firstId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jdsoft.orm.model.UserGroupAuth">
    insert into user_group_auth (user_group_id, second_id, first_id
      )
    values (#{userGroupId,jdbcType=VARCHAR}, #{secondId,jdbcType=VARCHAR}, #{firstId,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_group_id, second_id, first_id
    from user_group_auth
  </select>
</mapper>