<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsoft.orm.dao.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.jdsoft.orm.model.Warehouse">
    <id column="warehouse_id" jdbcType="VARCHAR" property="warehouseId" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from warehouse
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jdsoft.orm.model.Warehouse">
    insert into warehouse (warehouse_id, warehouse_name)
    values (#{warehouseId,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jdsoft.orm.model.Warehouse">
    update warehouse
    set warehouse_name = #{warehouseName,jdbcType=VARCHAR}
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select warehouse_id, warehouse_name
    from warehouse
    where warehouse_id = #{warehouseId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select warehouse_id, warehouse_name
    from warehouse
  </select>
</mapper>